* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #ccc;
  }
  .container {
    max-width: 900px;
    margin: 0 auto;
  }
  
  .apply_box {
    max-width: 80%;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;
  }
  
  .title_small {
    font-size: 20px;
  }
  
  .form_container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  .form_control{
    display:flex;
    flex-direction: column;
  }
  label{
    font-size:15px;
    margin-bottom: 5px;
  }
  input, select,textarea{
padding:6px 10px;
border:3px solid  grey;
border-radius: 3px;
background-color: antiquewhite;
font-size:15px;
  }
  input:focus , select:focus, textarea:focus{
    outline-color: peachpuff;
  }

  .button_container{
    display:flex;
    justify-content: flex-start;
    margin-top:40px;
  }
button{
    background-color: peru;
    border: transparent solid 2px;
    padding: 10px 10px;
    border-radius:5px;
    color:white;
    transition: 0.3s ease-in;
    
}
button:hover{
    background-color: beige;
    font-size: 20px;
    color:black;
    cursor:pointer;
    
}
.textarea_control{
    grid-column:1/span 2;
}
.textarea_control textarea{
    width:100%;
}




